{% extends 'base.html.twig' %}
{% block title %}Éditer le produit "{{ product.title }}"{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h1>Éditer le produit "{{ product.title }}"</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                {{ form_start(form) }}
                    {{ form_rest(form) }}
                    <button class="btn btn-primary btn-sm">Mettre à jour</a>
                {{ form_end(form) }}
            </div>
        </div>
    </div>

{% endblock %}